In [15]:
import pandas as pd
import numpy as np
import college as cg

ModuleNotFoundError: No module named 'college'

In [12]:
college = pd.read_csv('data/college.csv')

In [13]:
cg = college.groupby(['STABBR', 'RELAFFIL'])['UGDS', 'SATMTMID'] \
            .agg(['count', 'min', 'max']).head(6)

In [14]:
cg

                 UGDS                 SATMTMID
                count    min      max    count    min    max
STABBR RELAFFIL
AK     0            7  109.0  12865.0        0    NaN    NaN
       1            3   27.0    275.0        1  503.0  503.0
AL     0           71   12.0  29851.0       13  420.0  590.0
       1           18   13.0   3033.0        8  400.0  560.0
AR     0           68   18.0  21405.0        9  427.0  565.0
       1           14   20.0   4485.0        7  495.0  600.0

In [16]:
cg = cg.rename_axis(['AGG_COLS', 'AGG_FUNCS'], axis='columns')
cg

AGG_COLS         UGDS                 SATMTMID
AGG_FUNCS       count    min      max    count    min    max
STABBR RELAFFIL
AK     0            7  109.0  12865.0        0    NaN    NaN
       1            3   27.0    275.0        1  503.0  503.0
AL     0           71   12.0  29851.0       13  420.0  590.0
       1           18   13.0   3033.0        8  400.0  560.0
AR     0           68   18.0  21405.0        9  427.0  565.0
       1           14   20.0   4485.0        7  495.0  600.0

In [17]:
cg.stack('AGG_FUNCS').head()

AGG_COLS                      UGDS  SATMTMID
STABBR RELAFFIL AGG_FUNCS
AK     0        count          7.0       0.0
                min          109.0       NaN
                max        12865.0       NaN
       1        count          3.0       1.0
                min           27.0     503.0

In [18]:
cg.stack('AGG_FUNCS').swaplevel('AGG_FUNCS', 'STABBR', axis='index').head()

AGG_COLS                      UGDS  SATMTMID
AGG_FUNCS RELAFFIL STABBR
count     0        AK          7.0       0.0
min       0        AK        109.0       NaN
max       0        AK      12865.0       NaN
count     1        AK          3.0       1.0
min       1        AK         27.0     503.0

In [19]:
cg.stack('AGG_FUNCS') \
  .swaplevel('AGG_FUNCS', 'STABBR', axis='index') \
  .sort_index(level='RELAFFIL', axis='index') \
  .sort_index(level='AGG_COLS', axis='columns').head(6)

AGG_COLS                   SATMTMID     UGDS
AGG_FUNCS RELAFFIL STABBR
count     0        AK           0.0      7.0
                   AL          13.0     71.0
                   AR           9.0     68.0
max       0        AK           NaN  12865.0
                   AL         590.0  29851.0
                   AR         565.0  21405.0

In [20]:
cg.stack('AGG_FUNCS').unstack(['RELAFFIL', 'STABBR'])

AGG_COLS      UGDS                                          SATMTMID         \
RELAFFIL         0      1        0       1        0       1        0      1
STABBR          AK     AK       AL      AL       AR      AR       AK     AK
AGG_FUNCS
count          7.0    3.0     71.0    18.0     68.0    14.0      0.0    1.0
min          109.0   27.0     12.0    13.0     18.0    20.0      NaN  503.0
max        12865.0  275.0  29851.0  3033.0  21405.0  4485.0      NaN  503.0

AGG_COLS
RELAFFIL       0      1      0      1
STABBR        AL     AL     AR     AR
AGG_FUNCS
count       13.0    8.0    9.0    7.0
min        420.0  400.0  427.0  495.0
max        590.0  560.0  565.0  600.0

In [21]:
cg.stack(['AGG_FUNCS', 'AGG_COLS']).head(12)

STABBR  RELAFFIL  AGG_FUNCS  AGG_COLS
AK      0         count      UGDS            7.0
                             SATMTMID        0.0
                  min        UGDS          109.0
                  max        UGDS        12865.0
        1         count      UGDS            3.0
                             SATMTMID        1.0
                  min        UGDS           27.0
                             SATMTMID      503.0
                  max        UGDS          275.0
                             SATMTMID      503.0
AL      0         count      UGDS           71.0
                             SATMTMID       13.0
dtype: float64

In [22]:
cg.rename_axis([None, None], axis='index').rename_axis([None, None], axis='columns')

      UGDS                 SATMTMID
     count    min      max    count    min    max
AK 0     7  109.0  12865.0        0    NaN    NaN
   1     3   27.0    275.0        1  503.0  503.0
AL 0    71   12.0  29851.0       13  420.0  590.0
   1    18   13.0   3033.0        8  400.0  560.0
AR 0    68   18.0  21405.0        9  427.0  565.0
   1    14   20.0   4485.0        7  495.0  600.0